/* Colors */
/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic);
/* General */
html,
body {
  height: 100%;
  position: relative;
  width: 100%; }

body {
  background: #FFFFFF;
  color: #34495E;
  font-family: "Lato", "Helvetica", Arial, sans-serif;
  font-size: 14px; }

.clear:after {
  content: "";
  display: table;
  clear: both; }

.center {
  margin: 0 auto;
  width: 57.14286em; }

/* Buttons */
.btn {
  border: 0;
  border-radius: 1.07143em;
  color: #FFFFFF;
  display: inline-block;
  font-family: "Lato", "Helvetica", Arial, sans-serif;
  font-size: 0.92857em;
  font-weight: 700;
  padding: 0.35714em 0.71429em;
  text-decoration: none;
  text-transform: uppercase; }
  .btn:hover {
    cursor: pointer; }

.green-btn {
  background: #1ABC9C; }
  .green-btn:hover {
    background: #16A085; }

.blue-btn {
  background: #3498DB; }
  .blue-btn:hover {
    background: #2980B9; }

.red-btn {
  background: #E74C3C; }
  .red-btn:hover {
    background: #C0392B; }

/* Topbar */
#topbar {
  background: #34495E;
  padding: 0.57143em 0; }
  #topbar .profile {
    float: left;
    position: relative;
    top: 50%; }
    #topbar .profile .photo {
      border-radius: 50%;
      display: inline-block;
      height: 2.42857em;
      overflow: hidden;
      width: 2.42857em; }
      #topbar .profile .photo .img {
        height: 100%;
        width: 100%; }
    #topbar .profile .nav {
      display: none; }
    #topbar .profile .fa {
      color: #FFFFFF;
      position: relative;
      top: -0.71429em;
      right: -0.14286em; }
    #topbar .profile:hover {
      cursor: pointer; }
      #topbar .profile:hover .nav {
        background: #ECF0F1;
        border-radius: 0.21429em;
        display: block;
        overflow: hidden;
        position: absolute;
        right: -4.14286em;
        top: 0;
        z-index: 3; }
        #topbar .profile:hover .nav .pages .option {
          padding: 0.57143em; }
          #topbar .profile:hover .nav .pages .option .link {
            color: #34495E;
            text-decoration: none;
            width: 100%; }
          #topbar .profile:hover .nav .pages .option:hover {
            background: #34495E;
            transition: all 0.3s ease; }
            #topbar .profile:hover .nav .pages .option:hover .link {
              color: #FFFFFF;
              transition: all 0.3s ease; }
  #topbar .btn {
    margin-top: 0.35714em;
    float: right; }

/* Content */
.content {
  padding: 1.78571em 0; }
  .content .title {
    font-size: 2.42857em;
    font-weight: 700;
    margin-bottom: 0.71429em; }
    .content .title .btn {
      float: right;
      font-size: 0.42857em; }

/* List */
.list .item {
  background: #FFFFFF;
  display: block;
  padding: 0.71429em;
  width: 100%; }
  .list .item:nth-child(odd) {
    background: #ECF0F1; }
  .list .item .link {
    color: #34495E;
    font-size: 1.28571em;
    font-weight: 700;
    text-decoration: none; }
  .list .item .actions {
    float: right; }
    .list .item .actions .options .option {
      float: left;
      margin-right: 0.35714em; }
      .list .item .actions .options .option .btn {
        font-size: 0.78571em; }

/* Articles */
/* Settings */
#settings .group {
  margin: 1em 0;
  text-align: center; }
  #settings .group .hero {
    line-height: 1.5; }
    #settings .group .hero .photo {
      border-radius: 50%;
      display: inline-block;
      overflow: hidden; }
    #settings .group .hero .name {
      font-size: 1.14286em;
      font-weight: 700; }
    #settings .group .hero .location .fa {
      color: #1ABC9C; }
    #settings .group .hero .bio {
      font-style: italic;
      margin-top: 0.71429em; }
#settings .btn {
  font-size: 1.14286em; }

/* Errors */
.errors .error {
  color: #E74C3C; }

/* Form */
.form .group {
  margin: 1.07143em 0;
  position: relative; }
  .form .group .label {
    display: inline-block;
    font-size: 1.28571em;
    padding: 0.71429em 1.07143em;
    width: 100%; }
  .form .group .text,
  .form .group .textarea {
    background: #F8F8F8;
    border: none;
    color: #34495E;
    font-size: 1.28571em;
    padding: 0.71429em 1.07143em;
    width: 100%; }
    .form .group .text:hover, .form .group .text:focus,
    .form .group .textarea:hover,
    .form .group .textarea:focus {
      background: #ECF0F1; }
  .form .group .drop_file {
    background: #F8F8F8;
    font-size: 1.28571em;
    padding: 0.71429em 1.07143em;
    position: relative; }
    .form .group .drop_file .file {
      cursor: pointer;
      height: 100%;
      left: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      width: 100%; }
    .form .group .drop_file .fa {
      float: right; }
    .form .group .drop_file .file_preview {
      max-height: 21.42857em;
      overflow: hidden; }
      .form .group .drop_file .file_preview .img {
        height: 100%;
        margin-top: 1em; }
      .form .group .drop_file .file_preview .error {
        color: #E74C3C;
        text-align: center; }
      .form .group .drop_file .file_preview .item {
        float: left;
        height: 5.71429em;
        margin-right: 0.71429em;
        margin-bottom: 0.71429em; }
    .form .group .drop_file:hover {
      background: #ECF0F1; }
  .form .group .submit {
    float: right; }

/* Login */
#login {
  padding: 5em;
  text-align: center; }
  #login .title {
    font-size: 3em;
    font-weight: 700;
    margin-bottom: 1em; }
  #login .btn {
    font-size: 2em; }

/*# sourceMappingURL=admin.css.map */
