/* Colors */
$green: #1ABC9C;
$greener: #16A085;
$blue: #3498DB;
$bluer: #2980B9;
$red: #E74C3C;
$reder: #C0392B;
$dark: #34495E;
$darker: #2C3E50;
$white: #FFFFFF;
$light: #F8F8F8;
$gray: #ECF0F1;
$grayer: #BDC3C7;

/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic);
$base_font_size: 14px;

$lato: 'Lato', 'Helvetica', Arial, sans-serif;

@function em($px, $base: $base_font_size) {
    @return ($px / $base) * 1em;
}

/* General */
html,
body{
    height: 100%;
    position: relative;
    width: 100%;
}

body{
    background: $white;
    color: $dark;
    font-family: $lato;
    font-size: $base_font_size;
}

.clear:after {
  content: "";
  display: table;
  clear: both;
}

.center{
    margin: 0 auto;
    width: em(800px);
}

/* Buttons */
.btn{
    border: 0;
    border-radius: em(15px);
    color: $white;
    display: inline-block;
    font-family: $lato;
    font-size: em(13px);
    font-weight: 700;
    padding: em(5px) em(10px);
    text-decoration: none;
    text-transform: uppercase;
    &:hover{
        cursor: pointer;
    }
}

.green-btn{
    background: $green;
    &:hover{
        background: $greener;
    }
}
.blue-btn{
    background: $blue;
    &:hover{
        background: $bluer;
    }
}
.red-btn{
    background: $red;
    &:hover{
        background: $reder;
    }
}

/* Topbar */
#topbar{
    background: $dark;
    padding: em(8px) 0;
    .profile{
        float: left;
        position: relative;
        top: 50%;
        .photo{
            border-radius: 50%;
            display: inline-block;
            height: em(34px);
            overflow: hidden;
            width: em(34px);
            .img{
                height: 100%;
                width: 100%;
            }
        }
        .nav{
            display: none;
        }
        .fa{
            color: $white;
            position: relative;
            top: em(-10px);
            right: em(-2px);
        }
        &:hover{
            cursor: pointer;
            .nav{
                background: $gray;
                border-radius: em(3px);
                display: block;
                overflow: hidden;
                position: absolute;
                right: em(-58px);
                top: 0;
                z-index: 3;
                .pages{
                    .option{
                        padding: em(8px);
                        .link{
                            color: $dark;
                            text-decoration: none;
                            width: 100%;
                        }
                        &:hover{
                            background: $dark;
                            transition: all 0.3s ease;
                            .link{
                                color: $white;
                                transition: all 0.3s ease;
                            }
                        }
                    }
                }
            }
        }
    }
    .btn{
        margin-top: em(5px);
        float: right;
    }
}

/* Content */
.content{
    padding: em(25px) 0;
    .title{
        font-size: em(34px);
        font-weight: 700;
        margin-bottom: em(10px);
        .btn{
            float: right;
            font-size: em(6px);
        }
    }
}

/* List */
.list{
    .item{
        background: $white;
        display: block;
        padding: em(10px);
        width: 100%;
        &:nth-child(odd){
            background: $gray;
        }
        .link{
            color: $dark;
            font-size: em(18px);
            font-weight: 700;
            text-decoration: none;
        }
        .actions{
            float: right;
            .options{
                .option{
                    float: left;
                    margin-right: em(5px);
                    .btn{
                        font-size: em(11px);
                    }
                }
            }
        }
    }
}

/* Articles */
#articles{

}

/* Settings */
#settings{
    .group{
        margin: 1em 0;
        text-align: center;
        .hero{
            line-height: 1.5;
            .photo{
                border-radius: 50%;
                display: inline-block;
                overflow: hidden;
                .img{

                }
            }
            .name{
                font-size: em(16px);
                font-weight: 700;
            }
            .location{
                .fa{
                    color: $green;
                }
            }
            .bio{
                font-style: italic;
                margin-top: em(10px);
            }
        }
    }
    .btn{
        font-size: em(16px);
    }
}

/* Form */
.form{
    .group{
        margin: em(15px) 0;
        position: relative;
        .label{
            display: inline-block;
            font-size: em(18px);
            padding: em(10px) em(15px);
            width: 100%;
        }
        .text,
        .textarea{
            background: $light;
            border: none;
            color: $dark;
            font-size: em(18px);
            padding: em(10px) em(15px);
            width: 100%;
            &:hover,
            &:focus{
                background: $gray;
            }
        }
        .drop_file{
            background: $light;
            font-size: em(18px);
            padding: em(10px) em(15px);
            position: relative;
            .file{
                cursor: pointer;
                height: 100%;
                left: 0;
                opacity: 0;
                position: absolute;
                top: 0;
                width: 100%;
            }
            .fa{
                float: right;
            }
            .file_preview{
                max-height: em(300px);
                overflow: hidden;
                .img{
                    height: 100%;
                    margin-top: 1em;
                }
                .error{
                    color: $red;
                    text-align: center;
                }
                .item{
                    float: left;
                    height: em(80px);
                    margin-right: em(10px);
                    margin-bottom: em(10px);
                }
            }
            &:hover{
                background: $gray;
            }
        }
        .submit{
            float: right;
        }
    }
}

/* Login */
#login{
    padding: 5em;
    text-align: center;
    .title{
        font-size: 3em;
        font-weight: 700;
        margin-bottom: 1em;
    }
    .btn{
        font-size: 2em;
    }
}


