/* Colors */
$dark: #34495E;
$darker: #2C3E50;
$green: #1ABC9C;
$greener: #16A085;
$blue: #3498DB;
$bluer: #2980B9;
$light: #ECF0F1;
$gray: #7F8C8D;
$white: #FFFFFF;

/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,600,500,700);
$base_font_size: 14px;

$raleway: 'Raleway', 'Helvetica', Arial, sans-serif;
$lato: 'Lato', 'Helvetica', Arial, sans-serif;

@function em($px, $base: $base_font_size) {
    @return ($px / $base) * 1em;
}

/* General */

html,
body{
    height: 100%;
    position: relative;
    width: 100%;
}

body{
    background: $white;
    color: $green;
    font-family: $raleway;
    font-size: $base_font_size;
}

.clear:after {
  content: "";
  display: table;
  clear: both;
}


/* Sidebar */

$sidebar_width: em(220px);

#sidebar{
    background: $light;
    box-shadow: 0 0 0 em(3px) rgba($white, 0.3);
    float: left;
    height: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: $sidebar_width;
    z-index: 2;
    .hero{
        background: $dark;
        border-bottom: em(3px) solid $green;
        color: $white;
        line-height: 1.5;
        padding: em(30px);
        position: relative;
        .hero_bg{
            height: 100%;
            left: 0;
            opacity: 0.15;
            position: absolute;
            top: 0;
            width: auto;
            .img{
                height: 100%;
                left: 50%;
                position: absolute;
                transform: translateX(-50%);
                vertical-align: middle;
                z-index: 1;
            }
        }
        .content{
            position: relative;
            z-index: 2;
            .photo{
                display: inline-block;
                border: em(3px) solid $green;
                border-radius: 50%;
                overflow: hidden;
            }
            .name{
                font-size: em(16px);
                font-weight: 700;
            }
            .location{
                font-size: em(13px);
                font-weight: 400;
                .fa{
                    color: $green;
                }
            }
            .bio{
                font-family: $lato;
                font-size: em(13px);
                font-style: italic;
                margin-top: 1em;
            }
        }
    }//Hero

    nav{
        padding: em(20px) 0;
        width: 100%;
        .ul{
            text-align: left;
            .option{
                .link{
                    color: $green;
                    display: block;
                    border-bottom: em(2px) solid transparent;
                    font-style: italic;
                    font-weight: 700;
                    margin: em(5px) 0;
                    padding: em(5px) em(25px);
                    position: relative;
                    text-decoration: none;
                    text-transform: uppercase;
                    transition: all 0.3s ease;
                    .fa{
                        position: absolute;
                        right: em(25px);
                        top: 50%;
                        transform: translateY(-50%);
                    }
                    &.active,
                    &:hover{
                        color: $white;
                        background: $green;
                        border-bottom: em(2px) solid $greener;
                        text-indent: em(10px);
                        transition: all 0.3s ease;
                    }
                }
            }
        }
    }//Nav

    .instagram{
        padding: 0 em(15px);
        .link{
            color: $greener;
            text-decoration: none;
        }
        .title{
            font-family: $lato;
            font-size: em(12px);
            font-weight: 700;
            padding-bottom: 1em;
            text-align: left;
            text-transform: uppercase;
            .fa{
                color: $green;
                margin-right: em(5px);
            }
        }
        #instafeed{
            .option{
                display: inline-block;
                margin: 0 7% 7% 0;
                .link{
                    background: $green;
                    border-radius: em(3px);
                    display: block;
                    height: em(54px);
                    width: em(54px);
                    overflow: hidden;
                    transition: all 0.1s ease;
                    .img{
                        height: 100%;
                        vertical-align: middle;
                        width: 100%;
                    }
                    &:hover{
                        transform: scale(1.05);
                        transition: all 0.1s ease;
                    }
                }
                &:nth-child(3n+3){
                    margin-right: 0;
                }
            }
        }
    }//Instagram
}

/* Content */

#content{
    float: right;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    width: calc(100% - #{$sidebar_width});
    z-index: 1;
}

/* Projects */

.projects{
    padding: em(30px);
    .project{
        background: $dark;
        float: left;
        height: em(219px);
        overflow: hidden;
        position: relative;
        transition: all 0.3s ease;
        width: em(219px);
        .link{
            color: $white;
            display: block;
            height: 100%;
            text-decoration: none;
            width: 100%;
            transition: all 0.3s ease;
        }
        .project_img{
            left: 0;
            overflow: hidden;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: 1;
            .img{
                width: 100%;
            }
        }
        .content{
            font-family: $lato;
            left: 50%;
            opacity: 0;
            padding: 0 em(15px);
            position: absolute;
            text-align: center;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            width: 100%;
            z-index: 2;
            .title{
                border-bottom: em(3px) solid $green;
                display: inline-block;
                font-weight: 700;
                margin-bottom: 1em;
                padding-bottom: em(3px);
                text-transform: uppercase;
                transform: translateY((em(-5px)));
            }
            .short{
                font-style: italic;
                transform: translateY((em(5px)));
            }
        }
        &:hover{
            .content{
                opacity: 1;
                transition: all 0.3s ease;
                .title{
                    transform: translateY(0);
                    transition: all 0.3s ease;
                }
                .short{
                    transform: translateY(0);
                    transition: all 0.3s ease;
                }
            }
            .project_img{
                opacity: 0.2;
                transform: scale(1.2);
                transition: all 0.3s ease;
            }
        }
    }
}

/* Article */

.article{
    .hero_cover{
        background: $darker;
        border-bottom: em(3px) solid $green;
        height: em(400px);
        position: relative;
        width: 100%;
        .hero_img{
            height: 100%;
            left: 0;
            opacity: 0.5;
            overflow: hidden;
            position: absolute;
            top: 0;
            width: 100%;
            .img{
                transform: translateY(-35%);
                width: 100%;
            }
            &:after{
                background: linear-gradient(to bottom, rgba($white,0) 0%,rgba($dark,1) 100%);
                content: '';
                height: 50%;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
            }
        }
        .center{
            height: 100%;
            position: relative;
            .header{
                bottom: em(30px);
                line-height: 1.5;
                position: absolute;
                right: 0;
                text-align: right;
                .title{
                    color: $white;
                    font-size: em(36px);
                    font-weight: 700;
                }
                .details{
                    color: $green;
                    font-family: $lato;
                    font-size: em(12px);
                    font-style: italic;
                    font-weight: 700;
                }
            }
        }
    }
    .content{
        color: $dark;
        font-weight: 500;
        line-height: em(30px);
        margin: 2em auto;

        /* Headings */
        $start: 2.8em;
        @each $h in h1, h2, h3, h4, h5, h6{
            #{$h} {
                font-size: $start;
            }
            $start: $start - 0.3;
        }

        h1, h2, h3, h4, h5, h6{
            border-bottom: em(1px) solid $light;
            color: $darker;
            font-weight: 700;
            padding-bottom: em(5px);
            margin: em(10px) 0;
        }
        p{
            font-size: em(18px);
            margin: em(20px) 0;
        }
        em{
            font-style: italic;
        }
        strong{
            font-weight: 700;
            em{
                font-style: italic;
                font-weight: 700;
            }
        }
        blockquote{
            border-left: em(2px) solid $green;
            font-size: em(16px);
            line-height: 1.5;
            padding-left: em(15px);
        }
        a{
            color: $blue;
            &:hover{
                color: $bluer;
            }
        }
        img{
            border-radius: em(3px);
            width: 100%;
        }
        ul, ol{
            border-left: em(2px) solid $light;
            font-size: em(18px);
            padding-left: em(30px);
        }
        ul{
            list-style: disc;
        }
        ol{
            list-style: decimal;
        }
    }
}

.center{
    margin: 0 auto;
    width: em(720px);
}


/* Footer */

footer{
    color: $dark;
    font-family: $lato;
    font-size: em(12px);
    font-style: italic;
    font-weight: 700;
    margin: em(20px);
}